version: "3.8"

services:
  ravendb:
    image: ravendb/ravendb:4.2-ubuntu-latest
    container_name: ritter.co-goal-ravendb
    ports:
      - 8080:8080
      - 38888:38888
    environment:
      - RAVEN_ARGS='--Setup.Mode=None'
      - RAVEN_Security_UnsecuredAccessAllowed='PublicNetwork'
      - RAVEN_License_Eula_Accepted=true
    volumes:
      - ravendb-data:/opt/RavenDB/Server/RavenData

  seq:
    image: datalust/seq:latest
    container_name: ritter.co-goal-seq
    restart: unless-stopped
    ports:
      - 81:80
      - 5341:5341
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORDHASH=FCYqICbqbAUjB9UmVl3ddA5EOeqd6d51jNwW+SgPK1wmajiQoQ==
    volumes:
      - type: volume
        source: seq-volume
        target: /data

  mssql:
    image: "mcr.microsoft.com/mssql/server:2019-CU14-ubuntu-20.04"
    container_name: ritter.co-goal-mssql
    ports:
      - "11433:1433"
    environment:
      SA_PASSWORD: "pxh4P8w3"
      ACCEPT_EULA: "Y"
    volumes:
      - mssql:/var/opt/mssql

  demo2:
    image: ${REGISTRY:-ritter.co}/goal/demo2:${PLATFORM:-windows}-${TAG:-latest}
    container_name: ritter.co-goal-demo2
    restart: on-failure
    build:
      context: .
      dockerfile: src/Demo2/Goal.Demo2/Dockerfile
    depends_on:
      - mssql
      - seq
      - ravendb

volumes:
  mssql:
    name: mssql-vol
  ravendb-data:
    name: ravendb-vol
  seq-volume:
    name: seq-1-volume
