<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="ritter-ti-packages" value="https://pkgs.dev.azure.com/andersonritter/_packaging/ritter-ti-packages/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<ritter-ti-packages>
			<add key="Username" value="s6aea2aylq7iwbf5ryb24d5izvzkj3vx3zuxcvxm66t3hrpeq4eq" />
			<add key="ClearTextPassword" value="s6aea2aylq7iwbf5ryb24d5izvzkj3vx3zuxcvxm66t3hrpeq4eq" />
		</ritter-ti-packages>
	</packageSourceCredentials>
</configuration>
