<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="ritter-ti-packages" value="https://pkgs.dev.azure.com/andersonritter/_packaging/ritter-ti-packages/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<ritter-ti-packages>
			<add key="Username" value="c3ykfz2q4o73jpdnjzakmmhog5ihxd2mqvkjsenwl2b55dpa4qwa" />
			<add key="ClearTextPassword" value="c3ykfz2q4o73jpdnjzakmmhog5ihxd2mqvkjsenwl2b55dpa4qwa" />
		</ritter-ti-packages>
	</packageSourceCredentials>
</configuration>
