<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="ritter-ti-packages" value="https://pkgs.dev.azure.com/andersonritter/_packaging/ritter-ti-packages/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<ritter-ti-packages>
			<add key="Username" value="jbieu6gvqbie4gpcrcljyvwpv7evidr4pa2tip5k5e32e2nutzza" />
			<add key="ClearTextPassword" value="jbieu6gvqbie4gpcrcljyvwpv7evidr4pa2tip5k5e32e2nutzza" />
		</ritter-ti-packages>
	</packageSourceCredentials>
</configuration>
